body {
    margin: 0px;
    font-family: 'segoe ui';
    font-size: 19px;
    background-color:#0095D9;
    height:135%;
  }  

a{
    text-decoration: none;
    color:White;
}  
   
form input {
    border: 1px solid #0095D9;
} 
#divId{
    position:absolute;
    top:2%;
    left:5%;
    background-color:white;
}

.textboxId{
    position:absolute;
    top:10%;
    left:10%;
    width:80%;
    height:10%;
   
    
}

#divOrigem{
    position:absolute;
    top:21%;
    left:5%;
}

.textboxOrigem{
    position:absolute;
    top:29%;
    left:10%;
    width:80%;
    height:10%;
   
}

#divDestino{
    position:absolute;
    top:40%;
    left:5%;
}

.textboxDestino{
    position:absolute;
    top:48%;
    left:10%;
    width:80%;
    height:10%;
}

#divPeso{
    position:absolute;
    top:59%;
    left:5%;
}

.textboxPeso{
    position:absolute;
    top:67%;
    left:10%;
    width:80%;
    height:10%;
}

#divCarga{
    position:absolute;
    top:78%;
    left:5%;
}

.textboxCarga{
    position:absolute;
    top:87%;
    left:10%;
    width:80%;
    height:10%;
    z-index: 1;
}

.buttonRegistar{
    position:absolute;
    top:105%;
    left:0%;
    width:100%;
    height:20%;
    color:#0095D9;
    font-size: 19px;
    background-color:white;
    text-align:center;
    border: 1px solid white;
}

#divRegistar{
    position:absolute;
    width:90%;
    height:60%;
    top:18%;
    left:4.6%;
    background-color:white;
    z-index: -1;
}

h1{
    position:absolute;
    text-align:center;
    color:White; 
    top:2%;
    width:100%;
}

